<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "EmployeeManagement" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>

    <%= javascript_include_tag "application" %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js" type="text/javascript"></script>
    <![endif]-->
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

  </head>

  <body>
<% if employee_signed_in? %>
     <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><%=image_tag 'logo-small2.png', style: "margin-top:-10px "%></a>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
             <% if current_employee %>
            <li><%= link_to 'Employee-profile', employee_path(current_employee) %></li>
<% end %>
           <!--  <li><%= link_to "Link2", "/path2"  %></li>
            <li><%= link_to "Link3", "/path3"  %></li> -->
            <% if employee_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_employee_session_path, method: :delete) %>        
  </li>
<% else %>
  <li">
  <%= link_to('Login', new_employee_session_path)  %>  
  </li>
<% end %>
          </ul>
        </div>
      </div>
    </div>

    <% end %>

    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
        <div class="col-lg-3">
          
      </div><!--/row-->
</div>
      <!-- <footer>
        <p>&copy; Company 2018</p>
      </footer>
 -->
    </div> <!-- /container -->

  </body>
</html>
